@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Inter', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #091020;
  --color-footer : #1a2130;
  --color-blog: #2f394f;
  --color-text: #FFFFFF;
  --color-subtext: #eba654;
}